/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --c-accent-primary: white;
  --c-accent-secondary: #FFD700;
  --c-accent-tertiary: #ffc320;
  --c-accent-quaternary: orange;
  --c-background-primary: #232323;
  --c-background-secondary: #505050;
  --c-background-tertiary: #EDEDED;

  --c-text-dark-primary: #151515;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-alternate: var(--c-background-tertiary);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: black;
  --color-text: black;

  --color-link: var(--c-accent-secondary);
  --color-link-hover: var(--c-accent-tertiary);
  --color-link-visited: var(--c-accent-quaternary);

  --color-img-background: var(--c-background-secondary);

  --color-page-overlay: black;

  --color-page-title-text: var(--c-text-dark-primary);
  --color-page-section-text: var(--c-text-dark-primary);

  --page-title-font-size: 64px;
  --page-section-font-size: 48px;

  --color-header-background: var(--c-background-primary);
  --color-header-link: var(--c-accent-primary);
  --color-header-button: var(--c-accent-primary);
  --color-header-button-click: var(--c-accent-secondary);
  --color-header-link-hover: var(--c-accent-secondary);

  --color-footer-background: var(--c-background-primary);
  --color-footer-text: var(--c-accent-primary);

  --color-splashscreen-social-links-background: var(--c-background-primary);
  --color-splashscreen-social-links-border: var(--c-background-primary);
  --color-splashscreen-text: var(--c-accent-primary);
  --color-splashscreen-image-overlay: rgba(0,0,0,0.2);

  --color-card-background: var(--c-background-primary);
  --color-card-text: var(--c-accent-primary);
  --color-card-button-text-hover: var(--c-accent-secondary);
  --color-card-heading: var(--c-accent-primary);
  --color-card-button-text: var(--c-accent-primary);
  --color-card-divider: var(--c-accent-primary);
  --color-card-info-divider: var(--c-accent-primary);

  --card-border-radius: 50px;

  --color-image-frame-caption-text: var(--c-accent-primary);
  --color-image-frame-border: var(--c-accent-primary);

  --image-frame-border-width: 5px;
  --image-frame-caption-text-size: 14px;

  --color-image-frame-stylized-decoration-primary: var(--c-accent-secondary);
  --color-image-frame-stylized-decoration-secondary: var(--c-background-primary);

  --color-section-button-outline-dark: black;
  --color-section-button-outline-light: var(--c-accent-primary);
  --color-section-button-outline-hover: var(--c-accent-secondary);
  --color-section-button-text-dark: black;
  --color-section-button-text-light: var(--c-accent-primary);
  --color-section-button-text-hover: var(--c-accent-secondary);

  --color-cta-button-outline-dark: black;
  --color-cta-button-outline-light: var(--c-accent-primary);
  --color-cta-button-outline-hover: var(--c-accent-secondary);
  --color-cta-button-text-dark: black;
  --color-cta-button-text-light: var(--c-accent-primary);
  --color-cta-button-text-hover: var(--c-accent-secondary);
  --color-cta-button-background: var(--c-accent-secondary);
  --color-cta-button-background-hover: var(--c-accent-tertiary);

  --section-gap: 160px;

  /* See https://getuikit.com/docs/visibility#visible */
  --width-mini: 480px;
  --width-small: 640px;
  --width-medium: 960px;
  --width-large: 1200px;
  --width-extra-large: 1600px;

  --header-height: 50px;
}

/* NOTE: The placeholder dark color palette has been disabled
 * because it causes readability issues by clashing with other styling.
 * We will implement a proper well thought out dark mode in the future.
 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-link-hover);
}

a:visited {
  color: var(--color-link-visited);
}

iframe {
  background-color: var(--color-img-background);
  border: var(--image-frame-border-width) solid var(--color-image-frame-border);
}

.alternate-background {
  background-color: var(--color-background-alternate);
}

.yt-player {
  aspect-ratio: 16/9;
  height: fit-content;
}